<!DOCTYPE html>
<html>
<head>
    <title>Exhibition</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
</head>
<body>
    <nav>
        <a class="brand" href="/">
            <img src="/assets/nzcp.png" alt="NZCP" class="logo">
            <h1>Exhibition <span style="font-size:20px;">BBI</span></h1>
        </a>
        <div class="links">
            <div class="dropdown">
                <p class="link dropdown-text">Party &blacktriangledown;</p>
                <div class="dropdown-content">
                    <a href="/" class="link">Home</a>
                    <a href="/join" class="link">Join</a>
                    <a href="/about" class="link">About</a>
                </div>
            </div>
            <div class="dropdown">
                <p class="link dropdown-text">People &blacktriangledown;</p>
                <div class="dropdown-content">
                    <a href="/btf" class="link">BTF</a>
                    <a href="/songs" class="link">Songs</a>
                </div>
            </div>
            <div class="dropdown">
                <p class="link dropdown-text">Tools &blacktriangledown;</p>
                <div class="dropdown-content">
                    <a href="/commucryptor" class="link">Commucryptor</a>
                    <a href="/communex" class="link">Communex</a>
                     <a href="/24game" class="link">24 Game</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="main">
        {{{body}}}
    <footer>
        <p>Copyright NZCP</p>
    </footer>
</body>
</html>